<h1>Signup!</h1>

<% if flash[:notice] %>
  <div class="alert alert-danger"><%= flash[:notice] %></div>
<% end %>

<%= form_for :user, url: '/users' do |f| %>

  <div class="users_form">First Name: <%= f.text_field :first_name %></div>
  <div class="users_form">Last Name: <%= f.text_field :last_name %></div>
  <div class="users_form">Email: <%= f.text_field :email %></div>
  <div class="users_form">Password: <%= f.password_field :password %></div>
  <div class="users_form">Password Confirmation: <%= f.password_field :password_confirmation %></div>
  <%= f.submit "Submit" %>

<% end %>